<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Tech Blog Home</title>
 <link rel="stylesheet" href="/css/style.css">
</head>

<body>

      <nav id="navbar">
        <h1 id="nav-header">Tech Blog</h1>
          <ul id="navbar-ul">
            <li>
                <p><a class="link" href="/">Home</a></p>
            </li>
        {{#if loggedIn}}
        <li>
            <p><a class="link" href="/profile">Dashboard</a></p>
        </li>
        <li>
        <p><a class="link" href="/logout">Login</a></p>
        <button class="no-button" id="logout">logout</button>
        </li>
        </ul>
        {{else}}
        <li>
            <p><a class="link" href="/login">Login</a></p>
          
        </li>
        {{/if}}
        <ul>
      </nav>
      {{{ body }}}


{{#if loggedIn}}
  <script src="/js/logout.js"></script>
{{/if}}
</body>

</html>